/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lora', serif;
    background-color: #f0f0f0; /* Light Gray Background */
    color: #333;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

.section {
    margin-bottom: 3rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    background-color: #fff; /* White background for sections */
}

.section h2 {
    margin-top: 0;
    color: #007bff; /* Blue headings */
}

/* profile section */
.profile-section {
    display: flex;
    align-items: center;
    background-color: #f0f0f0; /* Light Gray background */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 3rem;
    padding: 2rem;
}

.profile-container {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
}

.profile-image {
    flex: 0 0 150px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #007bff; /* Blue border */
    background-color: #fff;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-text {
    flex: 1;
}

.profile-text h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #007bff; /* Blue heading */
}

.profile-text p {
    line-height: 1.6;
    color: #555;
}

.skills-section {
    margin-bottom: 3rem;
}

.skills-category {
    margin-bottom: 2rem;
    padding: 1.5rem;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #f0f0f0; /* Light Gray background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.skills-category:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f8f8f8; /* Slightly lighter background on hover */
}

.skill {
    margin-bottom: 1rem;
}

.skill-name {
    font-weight: bold;
    color: #007bff; /* Blue skill names */
}

.progress-bar {
    background-color: #eee;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    height: 15px;
}

.progress-bar-fill {
    background-color: #007bff;
    height: 100%;
    width: 0;
    border-radius: 25px;
    transition: width 0.5s ease-in-out;
}

.languages-section ul li {
    margin: 1rem 0;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #f0f0f0; /* Light Gray background */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle box shadow */
}

.languages-section ul li:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #f8f8f8; /* Slightly lighter background on hover */
}

.download-button {
    background-color: #007bff; /* Blue button */
    color: white;
    padding: 1rem 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-button:hover {
    background-color: #0066cc;
}

/* Sidebar Styles */
.sidebar {
    position: fixed;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background-color: #f0f0f0; /* Light Gray background */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-image {
        margin-bottom: 1rem;
    }
}